#videohome{
    visibility: visible !important;
    opacity: 1 !important;
    width: 100%;
    height: auto;
}
.html5-video{
    display: block;
}
.bkg-footer{
    background-image: url(../images/habano/bannerfooter.png);
}
footer{
    background-color: #232323  !important;
}
#home{
    background-color: black;
    background-position: center;
    background-size :cover;
    overflow-x: hidden;
}
.horizon {
     opacity: 1;
     visibility: visible;
}
.grid-container .grid {
    visibility: visible;
}
.bkg-ranked{
    background-image: url(../images/habano/ranked.png);
}
/*.row, body.boxed .wrapper-inner {*/
    /*max-width: 150rem;*/
/*}*/
.text-center{
    text-align: center !important;
}
.bkg-gray{
    background-color:#666 ;
}
.color-greyblack{
    color: #282828 !important;
}
.color-greylight{
    color: #595a59 !important;
}
.img-fluid{
    width: 100% !important;
    height: auto !important;
}


/*// Medium devices (tablets, 768px and down)*/
@media (max-width: 767px) {
    .bkg-banner{
        background-image: url(../images/habano/brands.png);
        height: 500px !important;
        z-index: 3;
    }

}
.z-index-10{
    z-index: 10;
}
.langs{
    cursor: pointer;
}
/*// Large devices (desktops, 992px and down)*/
@media (max-width: 992px) {
}
/*// Small devices (landscape phones, 576px and down)*/
@media (max-width: 576px) {  }
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {  }

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

    .bkg-banner{
        background-image: url(../images/habano/brands.png);
        height: 560px;
        z-index: 3;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }

/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
    .bkg-banner{
        background-image: url(../images/habano/brandsmovil.jpg);
        height: 900px !important;
        z-index: 3;
    }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {  }

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {  }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {  }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }

@media (max-width: 950px) {



}