{% extends 'main.twig' %}

{% block extracss %}
<meta charset="UTF-8" />
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
    <meta name="twitter:widgets:theme" content="light">
    <meta property="og:title" content="Your-Title-Here" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="Your-Image-Url" />
    <meta property="og:description" content="Your-Page-Description" />
    <title>Casa Habano | Home</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/theme-mountain-favicon.ico">

    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700%7CLato:300,400,700' rel='stylesheet' type='text/css'>

    <!-- Css -->
    <link rel="stylesheet" href="css/core.min.css" />
    <link rel="stylesheet" href="css/skin-architecture.css" />

    <link rel="stylesheet" href="css/group.css">
    <!--[if lt IE 9]>-->
{% endblock %}
{% block content %}
	{% include './components/navbar.twig' %}
	{% include './components/content.php' %}
	{% include './components/footer.php' %}
{% endblock %}
    
{% block extrajs %}
<!-- Js -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?v=3"></script>
<script src="js/timber.master.min.js"></script>
{% endblock %}